
<ion-header>
  <ion-toolbar>
    <ion-title>Inicio a la reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenido, {{ username }} al Sistema de Reservas del Gimnasio</h1>
  <p class="shadow-box">
    Nuestro gimnasio ofrece secciones para reservas de lunes a viernes. Cada sección tiene una duración de 1 hora y media y cuenta con un cupo para 20 personas. Las secciones están disponibles desde las 8:30 AM hasta las 5:30 PM.
  </p>
  <p class="shadow-box">
    Por favor, utiliza tu RUT para registrarte y realizar una reserva. Cada usuario puede reservar solo una sección por día.
  </p>

  <ion-card>
    
  </ion-card>

  <ion-button color="primary" shape="round" expand="full" routerLink="/reservar" class="highlight-button">Hacer Reserva</ion-button>

</ion-content>

